<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>

        
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<p>If you're climbing the ladder of life, you go rung by rung, one step at a time. Don't look too far up, set your goals high but take one step at a time. Sometimes you don't think you're progressing until you step back and see how high you've really gone.</p>
<img src ="../../assets/images/picone.jpg"/>
<img src = ""/>
<img src= ""/>
<img src = ""/>


