<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @goal.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Counter:</strong>
  <%= @goal.counter %>
</p>

<p>
  <strong>Target:</strong>
  <%= @goal.target %>
</p>

<p>
  You have taken   <%= @goal.counter %> steps towards your target of  <%= @goal.target %>
</p>

<div>
  <%= check_goal_completion(@goal) %>
</div>


<p> 

</p>




<%= button_to "I took some action today!",goal_path(@goal), params:{ goal: {counter: @goal.counter += 1 }}, method: :patch %>



<%= button_to "Delete goal", goal_path(@goal), method: :delete %>



<br>
<br>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
