<!DOCTYPE html>
<html>
  <head>
    <title>VisionTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel ="stylesheet" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <%= render "shared/navbar" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
